<mat-checkbox (ngModelChange)="isRowChange.emit($event)" [(ngModel)]="isRow">Is Row</mat-checkbox>

<mat-form-field>
  <input (ngModelChange)="colorChange.emit($event)" [(ngModel)]="color" matInput type="color">
</mat-form-field>

<div fxLayout="row" fxLayoutAlign="start center">
  <mat-label>Margin</mat-label>
  <mat-slider (input)="marginChange.emit($event.value!)" [(ngModel)]="margin"></mat-slider>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <mat-label>Padding</mat-label>
  <mat-slider (input)="paddingChange.emit($event.value!)" [(ngModel)]="padding"></mat-slider>
</div>
