<div fxLayout="row" fxLayoutGap="32px" style="padding: 10vh">
  <div fxFlex="75" style="background-color: bisque">
    <guildy-editor>
<!--      <app-my-flex-container #flexComponent [hostComponent]="flexComponent" guildyContainer ></app-my-flex-container>-->
      <app-my-card #cardComponent [hostComponent]="cardComponent" guildyContainer></app-my-card>
    </guildy-editor>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div fxFlex fxLayout="column" fxLayoutGap="16px">
    <app-my-component-library></app-my-component-library>
    <guildy-component-settings></guildy-component-settings>
  </div>

</div>

